.App {
  text-align: center;
  color: rgb(155, 140, 240);
  font-style: italic;
}

.profile-pic {
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;

}

.usr-name {
  font-style: normal;
  color: black;
}